<?xml version="1.0" encoding="utf-8"?>
<Actions>


    <Action>
        <Id>UserLogin</Id>
        <Title>
            <Item key="default">User Login</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action requires an email or username field and a password field to be present in the form in order to login the user.
                On successfull login, access user info using the [User:*] tokens (for example [User:UserID] or [User:FirstName]).
            </Item>
        </HelpText>
        <Settings>
            <Group>User</Group>
        </Settings>
        <TypeStr>avt.ActionForm.Core.Actions.UserLogin, avt.ActionForm.Core</TypeStr>
    </Action>

    <Action>
        <Id>UserRegistration</Id>
        <Title>
            <Item key="default">User Registration</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action will create a new user account.
                The form must contain at least an username or email address.
                The password can be collected via a password field or randomly generated.
                On successfull registration, access user info using the [NewUserId] and [User:*] tokens (for example [User:UserID] or [User:FirstName]).
            </Item>
        </HelpText>
        <Settings>
            <Group>User</Group>
        </Settings>
        <TypeStr>avt.ActionForm.Core.Actions.UserRegistration, avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>EmailUsername</Id>
            <Title>
                <Item key="default">Email as Username</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">When this option is disabled, Action Form looks for a username field in the form.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>RandomPass</Id>
            <Title>
                <Item key="default">Generate random password</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">Enable this option to have Action Form generate a random password. This basically replaces the password fields. The generated password is stored in [RegRandomPass] token so you can use it for example in an email action.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SendDnnMail</Id>
            <Title>
                <Item key="default">Send standard DNN registration email</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">When this option is enabled Action Form will use the standard registration email from DNN. For custom emails, disable this option and add Email actions.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>LoginIfExists</Id>
            <Title>
                <Item key="default">Login if user already exists</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">When this option is enabled, instead of throwing an error Action Form tries to login the user using the username and password provided. If authentication is successfull, then Action Form continues with the rest of the actions.</Item>
            </HelpText>
        </Parameter>

    </Action>

    <Action>
        <Id>UpdateUserProfile</Id>
        <Title>
            <Item key="default">Update User Profile</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action will instruct Action Form to update all fields in the profile of current user that are named the same as the form fields. Action Form will try to match profile properties both with and without spaces between words.
                <b>Important!</b> Note that profile property names are case sensitive!
            </Item>
        </HelpText>
        <Settings>
            <Group>User</Group>
        </Settings>
        <TypeStr>avt.ActionForm.Core.Actions.UpdateUserProfile, avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>UpdatePassword</Id>
            <Title>
                <Item key="default">Allow password update</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">If there's a password field on the form, Action Form will also update the password for the current user.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>UpdateDisplayName</Id>
            <Title>
                <Item key="default">Also update Display Name with</Item>
            </Title>
            <HelpText>
                <Item key="default">If there's a password field on the form, Action Form will also update the password for the current user.</Item>

            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
            </Settings>
        </Parameter>
    </Action>

    <Action>
        <Id>RunSql</Id>
        <Title>
            <Item key="default">Run SQL Query</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Executes the specified SQL query, optionally storing the output for use in other actions.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.ExecuteSql, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Data</Group>
        </Settings>
        
        <Parameter>
            <Id>ConnectionString</Id>
            <Title>
                <Item key="default">Other Connection String</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Leave this field empty to use the connection string from DNN.</Item>
            </HelpText>
        </Parameter>
        
        <Parameter>
            <Id>SqlQuery</Id>
            <Title>
                <Item key="default">SQL Query</Item>
            </Title>
            <Type>Code</Type>
            <HelpText>
                <Item key="default">
                    SQL to execute. Can contain <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>OutputTokenName</Id>
            <Title>
                <Item key="default">Output Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the output generated by the SQL query. For example, store IDs generated by inserts or select data that is needed by other actions.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>ShowErrors</Id>
            <Title>
                <Item key="default">Show Errors</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">Show errors raised from SQL. This is useful for example if the error is a nicely formatted error message.</Item>
            </HelpText>
        </Parameter>

    </Action>
    
    <Action>
        <Id>GrantUserRole</Id>
        <Title>
            <Item key="default">Grant User Role</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Grants user with the specified security role. The expiration time is reset for each submit.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.GrantRole2, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>User</Group>
        </Settings>
        
        <Parameter>
            <Id>RoleId</Id>
            <Title>
                <Item key="default">Role</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>Roles</DataSource>
            </Settings>
            <HelpText>
                <Item key="default">Select the security role to grant.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>RoleNames</Id>
            <Title>
                <Item key="default">Other Role Names</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    This allows to freely input the role names, so you can also use DNN tokens and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                    If multiple roles are specified, separate them by comma.
                </Item>
            </HelpText>
        </Parameter>
        
        <Parameter>
            <Id>RoleExpiration</Id>
            <Title>
                <Item key="default">Role Expiration (days)</Item>
            </Title>
            <Type>Number</Type>
            <HelpText>
                <Item key="default">Select after how many days will the role expire. Leave blank to never expire.</Item>
            </HelpText>
        </Parameter>
        
    </Action>

    <Action>
        <Id>PostData</Id>
        <Title>
            <Item key="default">Post Data</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Posts form data to a different server.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.PostData, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Data</Group>
        </Settings>
        
        <FooterHtml>
            <![CDATA[
                <div style="text-align: center">
                    <a href="#" class="" onclick="testPostNotification($(this).parents('.action-root:first')); return false;">Test POST Notification</a>
                </div>
            ]]>
        </FooterHtml>

        <JsFunctions>
            <![CDATA[
            <script>
                function testPostNotification($root) {
                    var w = window.open("", "_blank");
                    var d = w.document;
                    d.write("<form method='post' action=\""+ $root.find(".url").val() +"\">");
                    d.write("<table cellpadding='3'>");
                    var params = $root.find(".code").val().split('\n');
                    for (var i=0; i<params.length; i++) {
                        var parts = params[i].split('=');
                        d.write("<tr>");
                        d.write("<td>");
                        d.write(parts[0]);
                        d.write("</td>");
                        d.write("<td>");
                        d.write("<input type='text' name='"+ parts[0] +"' value='"+ parts[1] +"' />");
                        d.write("</td>");
                        d.write("</tr>");
                    }
                    d.write("</table>");

                    d.write("<input type='submit' value='Submit' />");
                    d.write("</form>");
                }
            </script>
            ]]>
        </JsFunctions>

        <Parameter>
            <Id>URL</Id>
            <Title>
                <Item key="default">URL</Item>
            </Title>
            <Type>URL</Type>

            <DefaultValue>
                <Item key="default">http://example.com</Item>
            </DefaultValue>
            
            <HelpText>
                <Item key="default">
                    URL where to post data. Can contain form tokens (for example [FirstName]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Data</Id>
            <Title>
                <Item key="default">Post Data</Item>
            </Title>
            <Type>Code</Type>

            <DefaultValue>
                <Item key="default">name=[FirstName]&#13;page=[Tab:TabName]</Item>
            </DefaultValue>
            
            <HelpText>
                <Item key="default">
                    Put key=value pairs each on separate line.
                    URL where to post data. Can contain form tokens (for example [FirstName]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>SaveToken</Id>
            <Title>
                <Item key="default">Save in Token</Item>
            </Title>
            <Type>Text</Type>

            <HelpText>
                <Item key="default">
                    Specify a token name to save the post respone into. You can access it later using the token syntax, for example [MyNamedTPostoken]
                </Item>
            </HelpText>
        </Parameter>
    </Action>


    <Action>
        <Id>SendMail</Id>
        <Title>
            <Item key="default">Send Email</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Note that you can use [Email] to get the email address that was submitted with the form or [User:Email] to get the email address of the currently logged in user.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.SendMail, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Email</Group>
        </Settings>
        
        <Parameter>
            <Id>From</Id>
            <Title>
                <Item key="default">From</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Leave empty to use the system default. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>To</Id>
            <Title>
                <Item key="default">To</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Separate multiple recipients by semicolon ";". Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>DetermineEmail</Id>
            <Title>
                <Item key="default">Determine Email Automatically</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    If <em>To</em> field above is empty, Action Form will determine email from submitted data or based on currently logged in user.
                </Item>
            </HelpText>
        </Parameter>
        
        <Parameter>
            <Id>ReplyTo</Id>
            <Title>
                <Item key="default">Reply To</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Separate multiple recipients by semicolon ";". Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Subject</Id>
            <Title>
                <Item key="default">Subject</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Body</Id>
            <Title>
                <Item key="default">Body</Item>
            </Title>
            <Type>RichText</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>File1</Id>
            <Title>
                <Item key="default">Attach File #1</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFiles</DataSource>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>File2</Id>
            <Title>
                <Item key="default">Attach File #2</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFiles</DataSource>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>File3</Id>
            <Title>
                <Item key="default">Attach File #3</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFiles</DataSource>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>File4</Id>
            <Title>
                <Item key="default">Attach File #4</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFiles</DataSource>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>File5</Id>
            <Title>
                <Item key="default">Attach File #5</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFiles</DataSource>
            </Settings>
        </Parameter>

    </Action>


    <!--<Action>
        <Id>SaveReportDb</Id>
        <Title>
            <Item key="default">Save Report in database</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Saves report in database. 
                Reports can be also accessed by using Module Actions &gt; Reports in main view. 
                --><!--<a href="{{ReportLink}}">Click here</a> to go there directly.--><!--
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.SaveReport, avt.ActionForm.Core</TypeStr>

    </Action>-->


    <Action>
        <Id>PaypalPayment</Id>
        <Title>
            <Item key="default">Collect PayPal Payment</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Redirect to PayPal to collect payment. 
                All actions placed under this one will be executed after <strong>payment is complete</strong>.
                Only place actions that don't require UI below this action. If you need to display a message, add a Redirect to Page action.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.CollectPaymentWithPayPal, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Payments</Group>
        </Settings>
        
        <Parameter>
            <Id>SandboxAccount</Id>
            <Title>
                <Item key="default">Sandbox Account Email</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>LiveAccount</Id>
            <Title>
                <Item key="default">Live Account Email</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>TestMode</Id>
            <Title>
                <Item key="default">Test Mode</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to use the Sandbox account for testing.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Recurring</Id>
            <Title>
                <Item key="default">Recurring</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>RecurringPayments</DataSource>
            </Settings>
            <HelpText>
                <Item key="default">
                    This option allows creation of one time payments or subscriptions.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>ItemTitle</Id>
            <Title>
                <Item key="default">Item Title</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>CurrencyCode</Id>
            <Title>
                <Item key="default">Currency Code</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>Currency</DataSource>
            </Settings>
            <HelpText>
                <Item key="default">
                    Supported currencies are defined /DesktopModules/Actions/Config/Currency.xml.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Amount</Id>
            <Title>
                <Item key="default">Amount</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>CancelPageId</Id>
            <Title>
                <Item key="default">Cancel Page</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    The user is redirected to this page when canceling the checkout process in PayPal.
                </Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalPages</DataSource>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>PendingPageId</Id>
            <Title>
                <Item key="default">Pending Payment Page</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    The user is redirected to this page when returning from PayPal if the payment is not yet completed.
                    Otherwise, the rest of the actions down the stack are executed.
                </Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalPages</DataSource>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>GenerateOrderId</Id>
            <Title>
                <Item key="default">Generate Unique Order ID</Item>
            </Title>
            <Type>Boolean</Type>
        </Parameter>

    </Action>


    <Action>
        <Id>RepostData</Id>
        <Title>
            <Item key="default">Repost Data</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action reposts the form to a different URL, ending executation of any actions that follow.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.RepostData, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Data</Group>
        </Settings>
        <Final>true</Final>

        <Parameter>
            <Id>Url</Id>
            <Title>
                <Item key="default">Url</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The Url can be to same or different domain, relative or absolute. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>PostData</Id>
            <Title>
                <Item key="default">Post Data</Item>
            </Title>
            <Type>Code</Type>
            <HelpText>
                <Item key="default">
                    Write one pair key=value per line. Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>RepostEverything</Id>
            <Title>
                <Item key="default">Repost Everything</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to also repost all data in addition to fields above.
                </Item>
            </HelpText>
        </Parameter>

    </Action>


    <Action>
        <Id>ShowMessage</Id>
        <Title>
            <Item key="default">Display Message</Item>
        </Title>
        <HelpText>
            <Item key="default">Displays a confirmation message. The user has to click a button before the rest of the following actions, if any, are executed.</Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.ShowMessage, avt.ActionForm.Core</TypeStr>
        <Final>true</Final>
        <Settings>
            <Group>Message</Group>
        </Settings>
        
        <Parameter>
            <Id>Message</Id>
            <Title>
                <Item key="default">Message</Item>
            </Title>
            <Type>RichText</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                    If appears during a validation event, this action will replace any validation errors.
                    Use <b>[ValidationErrors]</b> token to display them.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>ButtonsList</Id>
            <Title>
                <Item key="default">Action Buttons</Item>
            </Title>
             <HelpText>
                <Item key="default">
                    Optionally, bind one or more buttons from the form.
                </Item>
            </HelpText>
            <Type>MultipleFieldSelect</Type>
            <Settings>
                <FieldType>button</FieldType>
            </Settings>
            <DefaultValue>
                <Item key="default">[]</Item>
            </DefaultValue>
        </Parameter>
    </Action>

    <Action>
        <Id>ShowError</Id>
        <Title>
            <Item key="default">Display Error Message</Item>
        </Title>
        <HelpText>
            <Item key="default">Displays an error message. The user can't submit the form until the error is corrected.</Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.ShowError, avt.ActionForm.Core</TypeStr>
        <Final>true</Final>
        <Settings>
            <Group>Message</Group>
        </Settings>
        
        <Parameter>
            <Id>Message</Id>
            <Title>
                <Item key="default">Message</Item>
            </Title>
            <Type>RichText</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>
        
    </Action>

    <Action>
        <Id>SubmitAnyway</Id>
        <Title>
            <Item key="default">Submit without validation</Item>
        </Title>
        <HelpText>
            <Item key="default">Add this action to a validation event to have it bypass validation and submit the form with incomplete data.</Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.SubmitAnyway, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Data</Group>
        </Settings>
        
        <Final>true</Final>
        
    </Action>

    <!--<Action>
        <Id>KeepOnPage</Id>
        <Title>
            <Item key="default">Keep on Current Page</Item>
        </Title>
        <TypeStr>avt.ActionForm.Core.Form.Actions.MessageHtml, avt.ActionForm.Core</TypeStr>
    </Action>-->

    <Action>
        <Id>RedirectToUrl</Id>
        <Title>
            <Item key="default">Redirect to URL</Item>
        </Title>
        <TypeStr>avt.ActionForm.Core.Actions.RedirectToUrlAction, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Redirect</Group>
        </Settings>
        <Final>true</Final>
        <Parameter>
            <Id>Url</Id>
            <Title>
                <Item key="default">URL</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Can contain form tokens (for example [Email]) and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>RedirectToPage</Id>
        <Title>
            <Item key="default">Redirect to Portal Page</Item>
        </Title>
        <TypeStr>avt.ActionForm.Core.Actions.RedirectToPageAction, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Redirect</Group>
        </Settings>
        <Final>true</Final>
        <Parameter>
            <Id>PageId</Id>
            <Title>
                <Item key="default">Page</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalPages</DataSource>
            </Settings>
            <HelpText>
                <Item key="default">
                </Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>RedirectToFile</Id>
        <Title>
            <Item key="default">Send File for Download</Item>
        </Title>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.RedirectToFileAction, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Redirect</Group>
        </Settings>
        <Final>true</Final>
        <Parameter>
            <Id>File</Id>
            <Title>
                <Item key="default">File</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFiles</DataSource>
            </Settings>
            <HelpText>
                <Item key="default">Choose a portal file to send for download.</Item>
            </HelpText>
        </Parameter>
        <!--<Parameter>
            <Id>Force</Id>
            <Title>
                <Item key="default">Force Download</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">Force the browser to download the file instead of redirecting to it.</Item>
            </HelpText>
        </Parameter>-->
    </Action>

    <Action>
        <Id>SaveState</Id>
        <Title>
            <Item key="default">Save State</Item>
        </Title>
        <HelpText>
            <Item key="default">
                This action saves all the submitted data in the server session so it can be loaded back into this or another form.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.SaveState, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Form State</Group>
        </Settings>
        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Select a key to save under. Note that the scope is global, data can be shared between any two Action Forms.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>ClearState</Id>
        <Title>
            <Item key="default">Clear State</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Clears previously saved state.
            </Item>
        </HelpText>
        <Settings>
            <Group>Form State</Group>
        </Settings>
        <TypeStr>avt.ActionForm.Core.Actions.ClearState, avt.ActionForm.Core</TypeStr>
        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Select a key to clear. Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a></Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>LoadState</Id>
        <Title>
            <Item key="default">Load State</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Loads previously saved state.
            </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Actions.LoadState, avt.ActionForm.Core</TypeStr>
        <Settings>
            <Group>Form State</Group>
        </Settings>
        <Parameter>
            <Id>Key</Id>
            <Title>
                <Item key="default">Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Select a key to load from. Note that the scope is global, data can be shared between any two Action Forms.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>SubscribeToMailchimp</Id>
        <Title>
            <Item key="default">Subscribe To Mailchimp</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Sends the email address in current form to Mailchimp. If there's First Name and Last Name fields on the form, they will also be passed along.
            </Item>
        </HelpText>
        <Settings>
            <Group>Email</Group>
        </Settings>
        <TypeStr>avt.ActionForm.Core.Actions.SubscribeToMailchimp, avt.ActionForm.Core</TypeStr>
        <Parameter>
            <Id>ApiKey</Id>
            <Title>
                <Item key="default">API Key</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Get an API Key from MailChimp (under Account > Extra > API Keys).
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>ListName</Id>
            <Title>
                <Item key="default">List Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The name must be exactly as it appears in Mailchimp.
                    Supports form tokens and <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>
    </Action>
    
</Actions>
