<?xml version="1.0" encoding="utf-8"?>
<Validations>

    <Validation>
        <Title>At Least One Is Filled</Title>
        <Type>avt.ActionForm.Core.Validation.AtLeastOneInGroup, avt.ActionForm.Core</Type>
        <JsValidator>onerequired</JsValidator>
		<JsValidationCode>
		<![CDATA[
			afjQuery(function() {
			
				var $ = afjQuery;
				for (var i = 0; i < 10; i++) {
					(function(igroup) {
						
						// TODO: better add DEPENDS? (http://stackoverflow.com/questions/3975778/jquery-validate-depend-field)

						// hide all required validators - we'll handle it
						//$('.c-form').find('.group' + igroup + '-onerequired').each(function () {
						//	$(this).removeClass('required');
						//});

						$.validator.addMethod('group' + igroup + '-onerequired', function (value, element) {
							var isValid = false;
							$(element).parents('.c-form:first').find('.group' + igroup + '-onerequired').each(function () {
								if (!isValid && $.trim($(this).val()).length > 0) {
									isValid = true;
								}
							});

							// validate the rest of the controls in the group, but watch out for recursion
							if (!window['group' + igroup + '-onerequired-check']) {
								window['group' + igroup + '-onerequired-check'] = true;
								$(element).parents('.c-form:first').find('.group' + igroup + '-onerequired').each(function () {

									$("form").validate().element($(this));
								});
								window['group' + igroup + '-onerequired-check'] = false;
							}

							return isValid;
						}, 'At least one field is requried');
					})(i);
				}
			});
		]]>
		</JsValidationCode>
        <ErrorMessage>
            <default>At least one field is requried!</default>
        </ErrorMessage>
    </Validation>
	
	
	<Validation sample="true">
        <Title>Farenheit Test</Title>
        <Type>avt.ActionForm.Core.Validation.WebServiceValidator, avt.ActionForm.Core</Type>
        <JsValidator>test-farenheit</JsValidator>
		
		<Params>
			<url>http://www.w3schools.com/webservices/tempconvert.asmx</url>
			
			<!-- format is: 
					headerName1:value1
					headername2:value2
					................... -->
			<Headers>
				Content-Type:text/xml; charset=utf-8
			</Headers>
			
			<!-- format is: param1=value1&amp;param2=value2... -->
			<Get>
				
			</Get>
			
			<!-- format is: param1=value1&amp;param2=value2... -->
			<Post><![CDATA[
				<?xml version="1.0" encoding="utf-8"?>
				<soap12:Envelope 
					xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
					xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
					xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
				  <soap12:Body>
					<CelsiusToFahrenheit xmlns="http://tempuri.org/">
					  <Celsius>20</Celsius>
					</CelsiusToFahrenheit>
				  </soap12:Body>
				</soap12:Envelope>
				]]>
			</Post>
			
			<!-- If there is a group 1, Action Form will use consider the validation is a success -->
			<SuccessRegex><![CDATA[(.*)]]></SuccessRegex>
			
			<!-- If there is a group 1, Action Form will use consider the validation failed and use the group1 as the error message (unless ErrorMessage/default is defined)  -->
			<ErrorRegex><![CDATA[]]></ErrorRegex>
		
		
		</Params>
		
    </Validation>
	
	
	
</Validations>
