<?xml version="1.0" encoding="utf-8"?>
<Validations>

    <Validation sample="true">
        <Title>Valid Bank Account (on NetCash)</Title>
        <Type>avt.ActionForm.Core.Validation.WebServiceValidator, avt.ActionForm.Core</Type>
        <JsValidator>netcash-bankacc</JsValidator>
        
        <ErrorMessage>
            <default>Bank account is invalid!</default>
        </ErrorMessage>
        
        <Params>
            <url>https://www.netcash.co.za/ws/wsvalidation/v4.0/netcash.webservices.validation.asmx</url>
            
            <!-- format is: 
                    headerName1:value1
                    headername2:value2
                    ................... -->
            <Headers>
                Content-Type:text/xml;charset=utf-8
                SOAPAction:http://www.netcash.co.za/ws/validation/CDVValidateAccount
            </Headers>
            
            <!-- format is: param1=value1&amp;param2=value2... -->
            <Get>
                
            </Get>
            
            <!-- format is: param1=value1&amp;param2=value2... -->
            <Post><![CDATA[
                <?xml version="1.0" encoding="utf-8"?>
                <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
                    <s:Body>
                        <CDVValidateAccount xmlns="http://www.netcash.co.za/ws/validation" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
                            <Username>[NetCash:Username]</Username>
                            <Password>[NetCash:Password]</Password>
                            <Pin>[NetCash:Pin]</Pin>
                            <theAccountNumber>[BankAccount]</theAccountNumber>
                            <theBranchCode>[BranchCode]</theBranchCode>
                            <theAccountType>[AccountType]</theAccountType>
                        </CDVValidateAccount>
                    </s:Body>
                </s:Envelope>
                ]]>
            </Post>
            
            <!-- If there is a group 1, Action Form will use consider the validation is a success -->
            <SuccessRegex><![CDATA[(<CDVValidateAccountResult>0</CDVValidateAccountResult>)]]></SuccessRegex>
            
            <!-- If there is a group 1, Action Form will use consider the validation failed and use the group1 as the error message (unless ErrorMessage/default is defined)  -->
            <ErrorRegex><![CDATA[(<CDVValidateAccountResult>(.*)</CDVValidateAccountResult>)]]></ErrorRegex>
        
        </Params>
        
    </Validation>
    
</Validations>
