<?xml version="1.0" encoding="utf-8"?>
<InputTypes>

    <Type>
        <Title>Small Text</Title>
        <Name>open-text</Name>
        <Category>Text</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The fields loads initially having this value. 
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
        
        <Parameter>
            <Id>Mask</Id>
            <Title>
                <Item key="default">Mask</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Optionally set an mask using the <a href="http://digitalbush.com/projects/masked-input-plugin/" target="_blank">Masked Input Plugin</a>.
                    For example, add <em>(999) 999-9999</em> for a US phone number.
                    Can contain <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Email</Title>
        <Name>open-email</Name>
        <Category>Text</Category>
        <Category>User</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>
        <Flag>email</Flag>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The field loads initially having this value.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
        
    </Type>
    <Type>
        <Title>Number</Title>
        <Name>open-number</Name>
        <Category>Text</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>
        <Flag>number</Flag>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The field loads initially having this value.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Item with Quantity</Title>
        <Name>open-itemwithqty</Name>
        <Category>Text</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>

        <!--<Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The field loads initially having this value.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>-->
    </Type>
    <Type>
        <Title>Large Text</Title>
        <Name>open-text-large</Name>
        <Category>Text</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>
        <Flag>large</Flag>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Textarea</Type>
            <HelpText>
                <Item key="default">
                    The field loads initially having this value.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Rich Text Editor</Title>
        <Name>open-text-rich</Name>
        <Category>Text</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.RichTextInput,avt.ActionForm.Core</TypeStr>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>RichText</Type>
            <HelpText>
                <Item key="default">
                    The field loads initially having this value.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Username</Title>
        <Name>open-username</Name>
        <Category>Security</Category>
        <Category>User</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The field loads initially having this value.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Password</Title>
        <Name>open-password</Name>
        <Category>Security</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>
        <Flag>password</Flag>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The fields loads initially having this value.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>ConfirmationOf</Id>
            <Title>
                <Item key="default">Confirmation Of</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    If this is a "password confirmation" field, select the password field that you wish to confirm here.
                </Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-password</FieldType>
                <ExceptSelf>true</ExceptSelf>
            </Settings>
        </Parameter>
        
    </Type>
    
    <!--<Type>
        <Title>Password (with confirmation)</Title>
        <Name>open-password-confirm</Name>
        <Category>Security</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>
        <Flag>password</Flag>
        <Flag>confirm</Flag>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    The fields loads initially having this value.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>-->


    <Type>
        <Title>True/False (Checkbox)</Title>
        <Name>closed-truefalse</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.TrueFalse,avt.ActionForm.Core</TypeStr>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Determines either this field will load initially checked.
                    Possible values are <em>True/False</em>.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Yes/No (Radio boxes)</Title>
        <Name>closed-yesno</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>radio</Flag>
        <Flag>horizontal</Flag>
        <HandlerData>Yes|No</HandlerData>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the radio boxes is initially selected. Possible values are <em>Yes/No</em>.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Yes/No/Maybe (Radio boxes)</Title>
        <Name>closed-yesnomaybe</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>radio</Flag>
        <Flag>horizontal</Flag>
        <HandlerData>Yes|No|Maybe</HandlerData>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the radio boxes is initially selected. Possible values are <em>Yes/No/Maybe</em>.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
        
    </Type>


    <Type>
        <Title>Multiple Choice (with Radio boxes)</Title>
        <Name>closed-multiple-radio</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>radio</Flag>
        
        <Parameter>
            <Id>Values</Id>
            <Title>
                <Item key="default">Items</Item>
            </Title>
            <Type>Textarea</Type>
            <HelpText>
                <Item key="default">
                    Input one item per line. If you need to provide different text and value, then separate them by pipe.
                    You can also add a &quot;Select&quot; SQL statement here.
                    Can contain <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the radio boxes is initially selected. Possible values are from the list above.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>

    </Type>

    <Type>
        <Title>Multiple Choice (with horizontal Radio boxes)</Title>
        <Name>closed-multiple-radio-horiz</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>radio</Flag>
        <Flag>horizontal</Flag>
        
        <Parameter>
            <Id>Values</Id>
            <Title>
                <Item key="default">Items</Item>
            </Title>
            <Type>Textarea</Type>
            <HelpText>
                <Item key="default">
                    Input one item per line. If you need to provide different text and value, then separate them by pipe.
                    You can also add a &quot;Select&quot; SQL statement here.
                    Can contain <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the radio boxes is initially selected. Possible values are from the list above.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>

    </Type>

    <Type>
        <Title>Multiple Choice (with Dropdown)</Title>
        <Name>closed-multiple-dropdown</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>dropdown</Flag>

        <Parameter>
            <Id>Values</Id>
            <Title>
                <Item key="default">Items</Item>
            </Title>
            <Type>Textarea</Type>
            <HelpText>
                <Item key="default">
                    Input one item per line. If you need to provide different text and value, then separate them by pipe.
                    You can also add a &quot;Select&quot; SQL statement here.
                    Can contain <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>


        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Selected</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the items is initially selected. Possible values are from the list above.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>Multiple Choice (with Checkboxes)</Title>
        <Name>closed-multiple-checkbox</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>checkbox</Flag>
        
        <Parameter>
            <Id>Values</Id>
            <Title>
                <Item key="default">Items</Item>
            </Title>
            <Type>Textarea</Type>
            <HelpText>
                <Item key="default">
                    Input one item per line. If you need to provide different text and value, then separate them by pipe.
                    You can also add a &quot;Select&quot; SQL statement here.
                    Can contain <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the check boxes are initially selected. Possible values are from the list above.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>Multiple Choice (with Horizontal Checkboxes)</Title>
        <Name>closed-multiple-checkbox-horiz</Name>
        <Category>Multiple Choice</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>checkbox</Flag>
        <Flag>horizontal</Flag>

        <Parameter>
            <Id>Values</Id>
            <Title>
                <Item key="default">Items</Item>
            </Title>
            <Type>Textarea</Type>
            <HelpText>
                <Item key="default">
                    Input one item per line. If you need to provide different text and value, then separate them by pipe.
                    You can also add a &quot;Select&quot; SQL statement here.
                    Can contain <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which of the check boxes is initially selected. Possible values are from the list above.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
        
    </Type>


    <Type>
        <Title>Likert Scale (Agree/Disagree)</Title>
        <Name>closed-likert-agree</Name>
        <Category>Statistics</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>radio</Flag>
        <HandlerData>Strongly Disagree|Disagree|Undecided|Agree|Strongly Agree</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Selected</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Likert Scale (Frequency)</Title>
        <Name>closed-likert-frequency</Name>
        <Category>Statistics</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>radio</Flag>
        <HandlerData>Very Frequently|Frequently|Occasionally|Rarely|Very Rarely</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Selected</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Likert Scale (Importance)</Title>
        <Name>closed-likert-importance</Name>
        <Category>Statistics</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.MultipleChoice,avt.ActionForm.Core</TypeStr>
        <Flag>radio</Flag>
        <HandlerData>Very Important|Important|Moderately Important|Of Little Importance|Unimportant</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Selected</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>


    <Type>
        <Title>Country (submit Country Name)</Title>
        <Name>address-countryname</Name>
        <Category>Address</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.ListDropdown,avt.ActionForm.Core</TypeStr>
        <Flag>name</Flag>
        <Flag>first-empty</Flag>
        <HandlerData>Country</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>Country (submit Country Code)</Title>
        <Name>address-countrycode</Name>
        <Category>Address</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.ListDropdown,avt.ActionForm.Core</TypeStr>
        <Flag>code</Flag>
        <Flag>first-empty</Flag>
        <HandlerData>Country</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>Region (submit Region Name)</Title>
        <Name>address-regionname</Name>
        <Category>Address</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.Region,avt.ActionForm.Core</TypeStr>
        <Flag>name</Flag>
        <Flag>first-empty</Flag>
        <Flag>textbox</Flag>
        <HandlerData>Region</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>Region (submit Region Code)</Title>
        <Name>address-regioncode</Name>
        <Category>Address</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.Region,avt.ActionForm.Core</TypeStr>
        <Flag>code</Flag>
        <Flag>first-empty</Flag>
        <Flag>textbox</Flag>
        <HandlerData>Region</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>US State</Title>
        <Name>address-usstate</Name>
        <Category>Address</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.ListDropdown,avt.ActionForm.Core</TypeStr>
        <Flag>code</Flag>
        <Flag>first-empty</Flag>
        <HandlerData>Country.US-Region</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>US State (submit Name)</Title>
        <Name>address-usstate-name</Name>
        <Category>Address</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.ListDropdown,avt.ActionForm.Core</TypeStr>
        <Flag>name</Flag>
        <Flag>first-empty</Flag>
        <HandlerData>Country.US-Region</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>Constant Text</Title>
        <Name>hiden-constant</Name>
        <Category>Hidden Data</Category>
        <HelpText>Can contain My Tokens!</HelpText>
        <TypeStr>avt.ActionForm.Core.Input.HiddenData,avt.ActionForm.Core</TypeStr>
        <HandlerData>{0}</HandlerData>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>
    <Type>
        <Title>User ID</Title>
        <Name>hiden-userid</Name>
        <Category>Hidden Data</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.HiddenData,avt.ActionForm.Core</TypeStr>
        <HandlerData>[User:UserId]</HandlerData>
    </Type>


    <Type>
        <Title>Static Text</Title>
        <Name>static-text</Name>
        <Category>Static</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.StaticHtml,avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initial Value</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
        
        <Parameter>
            <Id>ShowLabel</Id>
            <Title>
                <Item key="default">Show Label</Item>
            </Title>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">true</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>ShowText</Id>
            <Title>
                <Item key="default">Show Text</Item>
            </Title>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">true</Item>
            </DefaultValue>
        </Parameter>

        
    </Type>


    <Type>
        <Title>Image</Title>
        <Name>static-image</Name>
        <Category>Static</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.StaticHtml,avt.ActionForm.Core</TypeStr>
        <Parameters>
            <ShowLabel>true</ShowLabel>
            <FieldFormat>&lt;img src=&quot;{0}&quot; /&gt;</FieldFormat>
        </Parameters>

        <Parameter>
            <Id>PortalImage</Id>
            <Title>
                <Item key="default">Image</Item>
            </Title>
            <HelpText>
                <Item key="default">
                     Select a portal image
                </Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFiles</DataSource>
                <FileTypes>.png,.gif,.jpg</FileTypes>
            </Settings>
        </Parameter>
        
        <Parameter>
            <Id>ImageURL</Id>
            <Title>
                <Item key="default">Image URL</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Alternatively, load the image from external URL. If provided, this setting will be used instead of the portal image above.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
        </Parameter>
    </Type>


    <Type>
        <Title>Portals Dropdown (all)</Title>
        <Name>dnnpotals-all</Name>
        <Category>DotNetNuke</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.Portals,avt.ActionForm.Core</TypeStr>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>Portals (except portal 0)</Title>
        <Name>dnnpotals-except0</Name>
        <Category>DotNetNuke</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.Portals,avt.ActionForm.Core</TypeStr>
        <Flag>except0</Flag>
        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>Captcha</Title>
        <Name>captcha</Name>
        <Category>Security</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.Captcha,avt.ActionForm.Core</TypeStr>
    </Type>

    <Type>
        <Title>Single File Upload</Title>
        <Name>upload.single</Name>
        <Category>Files</Category>
        <HelpText>
            <Item key="default">On submit, it creates tokens [&lt;FieldName&gt;] (filename on the server), [&lt;FieldName&gt;-RelativeUrl], [&lt;FieldName&gt;-AbsoluteUrl], [&lt;FieldName&gt;-FilePath] (physical path). </Item>
        </HelpText>
        <TypeStr>avt.ActionForm.Core.Input.FileUpload,avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>Pattern</Id>
            <Title>
                <Item key="default">Filename Pattern</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Optionally provide a pattern to use for filenames on the server. For example &quot;[User:Username]-avatar&quot;.
                    Leave blank to use the original filename.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                </Item>
            </HelpText>
        </Parameter>
        
        <Parameter>
            <Id>Folder</Id>
            <Title>
                <Item key="default">Upload to Folder</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFolders</DataSource>
            </Settings>
            <DefaultValue>
                <Item key="default">/</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>Duplicates</Id>
            <Title>
                <Item key="default">Handle Duplicates</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>avt.ActionForm.Core.FileStorage.eHandleDuplicates,avt.ActionForm.Core</DataSource>
            </Settings>
            <DefaultValue>
                <Item key="default">Rename</Item>
            </DefaultValue>
        </Parameter>


    </Type>

    <!--<Type>
        <Title>Multi File Upload</Title>
        <Name>upload-multi</Name>
        <Category>Files</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.FileUpload,avt.ActionForm.Core</TypeStr>
    </Type>-->


    <Type>
        <Title>Button</Title>
        <Name>button</Name>
        <Category>Buttons</Category>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>ShowIn</Id>
            <Title>
                <Item key="default">Show In</Item>
            </Title>
            <HelpText>
                <Item key="default">This button may also appear in the Display Message action.</Item>
            </HelpText>            
            <Type>CheckboxList</Type>
            <Settings>
                <Items>{ "Form": { "default": "Form" }, "ButtonsPane": { "default": "Buttons Pane" } }</Items>
                <Defaults>{"ButtonsPane":"true"}</Defaults>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>CausesValidation</Id>
            <Title>
                <Item key="default">Causes Validation</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    This determines either the form will be validated when the button is clicked.
                    Usually you'll want this option "on" for Submit buttons and "off" for cancel buttons.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">True</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>ButtonSize</Id>
            <Title>
                <Item key="default">Button Size</Item>
            </Title>
            <HelpText>
                <Item key="default">
                </Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <Items>{ "btn-mini": { "default": "Mini" }, "btn-small": { "default": "Small" }, "btn-normal": { "default": "Normal" }, "btn-large": { "default": "Large" } }</Items>
            </Settings>
            <DefaultValue>
                <Item key="default">btn-normal</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>ButtonType</Id>
            <Title>
                <Item key="default">Button Type</Item>
            </Title>
            <HelpText>
                <Item key="default">
                </Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <Items>{ "btn-primary": { "default": "Primary" }, "btn-info": { "default": "Info" }, "btn-success": { "default": "Success" }, "btn-warning": { "default": "Warning" }, "btn-danger": { "default": "Danger" }, "btn-inverse": { "default": "Inverse" }, "btn-link": { "default": "Link" } }</Items>
            </Settings>
            <DefaultValue>
                <Item key="default">btn-info</Item>
            </DefaultValue>
        </Parameter>
        
        <Parameter>
            <Id>Actions</Id>
            <Title>
                <Item key="default">On Click Handler</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>click</Event>
            </Settings>
        </Parameter>
        
    </Type>

    
    <Type>
        <Title>Image Button</Title>
        <Name>image-button</Name>
        <Category>Buttons</Category>
        <TypeStr>avt.ActionForm.Core.Input.TextInput,avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>CausesValidation</Id>
            <Title>
                <Item key="default">Causes Validation</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    This determines either the form will be validated when the button is clicked.
                    Usually you'll want this option "on" for Submit buttons and "off" for cancel buttons.
                </Item>
            </HelpText>
            <Type>Boolean</Type>
            <DefaultValue>
                <Item key="default">True</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>ShowIn</Id>
            <Title>
                <Item key="default">Show In</Item>
            </Title>
            <HelpText>
                <Item key="default">This button may also appear in the Display Message action.</Item>
            </HelpText>
            <Type>CheckboxList</Type>
            <Settings>
                <Items>{ "Form": { "default": "Form" }, "ButtonsPane": { "default": "Buttons Pane" } }</Items>
                <Defaults>{"ButtonsPane":"true"}</Defaults>
            </Settings>
        </Parameter>
        
        <!--<Parameter>
            <Id>Image</Id>
            <Title>
                <Item key="default">Image</Item>
            </Title>
            <Type>Select</Type>
            <Settings>
                <DataSource>PortalFiles</DataSource>
                <FileTypes>.png,.gif,.jpg</FileTypes>
            </Settings>
        </Parameter>-->
        
        <Parameter>
            <Id>ImageURL</Id>
            <Title>
                <Item key="default">Image URL</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Use this field to load an image from a URL.
                </Item>
            </HelpText>
            <Type>Text</Type>
        </Parameter>

        <Parameter>
            <Id>Actions</Id>
            <Title>
                <Item key="default">On Click Handler</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>click</Event>
            </Settings>
        </Parameter>

    </Type>

</InputTypes>
