<?xml version="1.0" encoding="utf-8"?>
<InputTypes>
    
    <Type>
        <Title>Date (with jQuery DatePicker)</Title>
        <Name>datetime</Name>
        <Category>Date and Time</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.jQueryDatePicker,avt.ActionForm.Core</TypeStr>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>
    </Type>

    <Type>
        <Title>Date (with Month/Year Picker)</Title>
        <Name>datetime-monthyear</Name>
        <Category>Date and Time</Category>
        <HelpText></HelpText>
        <TypeStr>avt.ActionForm.Core.Input.jQueryDatePicker,avt.ActionForm.Core</TypeStr>
        <Flag>yearpick</Flag>
        <Flag>monthpick</Flag>

        <Parameter>
            <Id>Value</Id>
            <Title>
                <Item key="default">Initially Checked</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">
                    Determines which item is initially selected.
                    Supports <a href="http://www.dnnsharp.com/dotnetnuke/modules/token-replacement/my-tokens" target="_blank">My Tokens</a>
                    so you can pull data from various sources such as user profile.
                </Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>YearRange</Id>
            <Title>
                <Item key="default">Year Range</Item>
            </Title>
            <HelpText>
                <Item key="default">The range of years displayed in the year drop-down: either relative to today's year ("-nn:+nn"), relative to the currently selected year ("c-nn:c+nn"), absolute ("nnnn:nnnn"), or combinations of these formats ("nnnn:-nn").</Item>
            </HelpText>
            <Type>Text</Type>
            <DefaultValue>
                <Item key="default">-100:+0</Item>
            </DefaultValue>
        </Parameter>

        <Parameter>
            <Id>DateFormat</Id>
            <Title>
                <Item key="default">Date Format</Item>
            </Title>
            <HelpText>
                <Item key="default">Optionally, provide a custom date format, for example <em>dd/mm/yy</em>. Leave empty to take the server locale default format.</Item>
            </HelpText>
            <Type>Text</Type>
        </Parameter>
        
    </Type>
    
</InputTypes>