<?xml version="1.0" encoding="utf-8" ?><content type="ActionForm" version="01.09.00"><ActionForm>
  <Description>Creates an empty form so you build everything from scratch.</Description>
  <Settings>
    <Version><![CDATA[3.0.0]]></Version>
    <Build><![CDATA[3.0.8.0]]></Build>
    <FrontEndTemplate><![CDATA[<div><span><a href="[FormUrl]">Incorrect sponsor? Click here to change.</a></span></div>]]></FrontEndTemplate>
    <HasCustomLayout><![CDATA[False]]></HasCustomLayout>
    <LayoutHtml><![CDATA[<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="clear: both;"></div>
<div style="clear: both;"></div>
<div style="margin: 0px 20px 0px 0px; text-align: center;">[Buttons:Submit] [Buttons:Cancel]</div>]]></LayoutHtml>
    <LabelAlign>center</LabelAlign>
    <LabelWidth>200</LabelWidth>
    <FieldSpacing>normal</FieldSpacing>
    <OpenFormMode><![CDATA[Always]]></OpenFormMode>
    <FormTemplate>bootstrap</FormTemplate>
    <FormTemplateFolder>/DesktopModules/AvatarSoft/ActionForm/templates/Form/bootstrap</FormTemplateFolder>
    <UploadUrl>/DesktopModules/AvatarSoft/ActionForm/UploadFile.ashx</UploadUrl>
    <ModuleId>3163</ModuleId>
    <IsDebug>True</IsDebug>
    <ClientSideValidation>False</ClientSideValidation>
    <InitJs><![CDATA[]]></InitJs>
    <PopupWidth>400</PopupWidth>
    <PopupHeight>300</PopupHeight>
    <jQueryTheme>sunny</jQueryTheme>
    <DateFormat>m/d/yy</DateFormat>
    <BaseId>dnn3163</BaseId>
    <AjaxSubmitUrl>/DesktopModules/AvatarSoft/ActionForm/Submit.ashx?TabId=2468&amp;ctl=ExportModule&amp;moduleid=3163&amp;language=en-US&amp;popUp=true&amp;portalid=0&amp;mid=3163</AjaxSubmitUrl>
    <PageUrl>http://localhost:60200/en-us/actionforms3.aspx</PageUrl>
    <CancelType>image</CancelType>
    <CancelText><![CDATA[https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaokQCR39R6wSbedT9pNLJAwW0z3l-5UWKzVg8pDAHnC-vo8lW]]></CancelText>
    <SubmitType>text</SubmitType>
    <SubmitText><![CDATA[Submit1]]></SubmitText>
  </Settings>
  <Fields>
  </Fields>
  <Actions>
  </Actions>
</ActionForm></content>
