<?xml version="1.0" encoding="utf-8" ?><content type="ActionForm" version="01.09.00"><ActionForm>
  <Description>Builds a form where people can send a message to the portal admin.</Description>
  <Settings>
    <Version><![CDATA[3.0.0]]></Version>
    <Build><![CDATA[3.0.31.0]]></Build>
    <FrontEndTemplate><![CDATA[<div><span><a href="[FormUrl]">Incorrect sponsor? Click here to change.</a></span></div>]]></FrontEndTemplate>
    <HasCustomLayout><![CDATA[False]]></HasCustomLayout>
    <LayoutHtml><![CDATA[<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="clear: both;"></div>
<div style="clear: both;"></div>
<div style="margin: 0px 20px 0px 0px; text-align: center;">[Buttons:Submit] [Buttons:Cancel]</div>]]></LayoutHtml>
    <LabelAlign>right</LabelAlign>
    <LabelWidth>120</LabelWidth>
    <FieldSpacing>normal</FieldSpacing>
    <OpenFormMode><![CDATA[Always]]></OpenFormMode>
    <FormTemplate>bootstrap</FormTemplate>
    <FormTemplateFolder>/DesktopModules/AvatarSoft/ActionForm/templates/Form/bootstrap</FormTemplateFolder>
    <UploadUrl>/DesktopModules/AvatarSoft/ActionForm/UploadFile.ashx</UploadUrl>
    <ModuleId>3181</ModuleId>
    <IsDebug>False</IsDebug>
    <ClientSideValidation>True</ClientSideValidation>
    <InitJs><![CDATA[]]></InitJs>
    <PopupWidth>400</PopupWidth>
    <PopupHeight>300</PopupHeight>
    <jQueryTheme>sunny</jQueryTheme>
    <DateFormat>m/d/yy</DateFormat>
    <BaseId>dnn3181</BaseId>
    <AjaxSubmitUrl>/DesktopModules/AvatarSoft/ActionForm/Submit.ashx?TabId=2472&amp;ctl=ExportModule&amp;moduleid=3181&amp;language=en-US&amp;popUp=true&amp;portalid=0&amp;mid=3181</AjaxSubmitUrl>
    <PageUrl>http://localhost:60200/en-us/actionform4.aspx</PageUrl>
  </Settings>
  <Fields>
    <Field>
      <Id><![CDATA[1587]]></Id>
      <Title><![CDATA[First Name]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[FirstName]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-text</InputType>
      <InputData>{"Value":"","Mask":""}</InputData>
      <Value />
      <Mask />
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>0</ViewOrder>
      <RowIndex>0</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1586]]></Id>
      <Title><![CDATA[Send]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Send]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>button</InputType>
      <InputData>{"CausesValidation":true,"ShowIn":{"ButtonsPane":true},"ButtonSize":"btn-normal","ButtonType":"btn-info","Actions":""}</InputData>
      <CausesValidation>True</CausesValidation>
      <ButtonSize>btn-normal</ButtonSize>
      <ButtonType>btn-info</ButtonType>
      <Actions />
      <IsRequired>False</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>9999</ViewOrder>
      <RowIndex>0</RowIndex>
      <ColSpan>9</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1588]]></Id>
      <Title><![CDATA[Last Name]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[LastName]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-text</InputType>
      <InputData>{"Value":"","Mask":""}</InputData>
      <Value />
      <Mask />
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>12</ViewOrder>
      <RowIndex>1</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1589]]></Id>
      <Title><![CDATA[Email]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Email]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-email</InputType>
      <InputData>{"Value":""}</InputData>
      <Value />
      <Flag>email</Flag>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1>Email Address</CustomValidator1>
      <CustomValidator1JsName>email3181</CustomValidator1JsName>
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>24</ViewOrder>
      <RowIndex>2</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1591]]></Id>
      <Title><![CDATA[Phone]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Phone]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-text</InputType>
      <InputData>{}</InputData>
      <IsRequired>False</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>36</ViewOrder>
      <RowIndex>3</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1584]]></Id>
      <Title><![CDATA[Subject]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Subject]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-text</InputType>
      <InputData>{"Value":""}</InputData>
      <Value />
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>48</ViewOrder>
      <RowIndex>4</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1590]]></Id>
      <Title><![CDATA[Message]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Message]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-text-large</InputType>
      <InputData>{"Value":""}</InputData>
      <Value />
      <Flag>large</Flag>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>60</ViewOrder>
      <RowIndex>5</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
  </Fields>
  <Actions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <ActionInfo>
      <Id>3610</Id>
      <ModuleId>3181</ModuleId>
      <Description>Confirmation Email</Description>
      <FieldName>Send</FieldName>
      <EventName>click</EventName>
      <ActionType>SendMail</ActionType>
      <OrderIndex>0</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2013-08-01T02:17:30.4</LastModified>
      <LastModifiedBy>1</LastModifiedBy>
      <Parameters>
        <To></To>
        <DetermineEmail>true</DetermineEmail>
        <Subject>RE: [Subject]</Subject>
        <Body>&lt;p&gt;You have received you message below and will get back to you shortly.&lt;/p&gt;
&lt;p&gt;[Message]&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</Body>
      </Parameters>
      <ActionData>{"To":"","DetermineEmail":true,"Subject":"RE: [Subject]","Body":"\u003cp\u003eYou have received you message below and will get back to you shortly.\u003c/p\u003e\n\u003cp\u003e[Message]\u003c/p\u003e\n\u003cp\u003e\u0026nbsp;\u003c/p\u003e"}</ActionData>
    </ActionInfo>
    <ActionInfo>
      <Id>3611</Id>
      <ModuleId>3181</ModuleId>
      <Description>Send to admins</Description>
      <FieldName>Send</FieldName>
      <EventName>click</EventName>
      <ActionType>SendMail</ActionType>
      <OrderIndex>0</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2013-08-01T02:17:30.403</LastModified>
      <LastModifiedBy>1</LastModifiedBy>
      <Parameters>
        <To>[Portal:Email]</To>
        <ReplyTo>[Email]</ReplyTo>
        <Subject>[Subject]</Subject>
        <Body>&lt;p&gt;New message from [FirstName] [LastName] (phone # [Phone]):&lt;/p&gt;
&lt;p&gt;[Message]&lt;/p&gt;</Body>
      </Parameters>
      <ActionData>{"To":"[Portal:Email]","ReplyTo":"[Email]","Subject":"[Subject]","Body":"\u003cp\u003eNew message from [FirstName] [LastName] (phone # [Phone]):\u003c/p\u003e\n\u003cp\u003e[Message]\u003c/p\u003e"}</ActionData>
    </ActionInfo>
    <ActionInfo>
      <Id>3612</Id>
      <ModuleId>3181</ModuleId>
      <Description />
      <FieldName>Send</FieldName>
      <EventName>click</EventName>
      <ActionType>ShowMessage</ActionType>
      <OrderIndex>0</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2013-08-01T02:17:30.403</LastModified>
      <LastModifiedBy>1</LastModifiedBy>
      <Parameters>
        <ButtonText>Continue</ButtonText>
        <Message>&lt;p style="text-align: center;"&gt;Your message was received successfully.&lt;br /&gt;We will get back to you ASAP!&lt;/p&gt;</Message>
      </Parameters>
      <ActionData>{"ButtonText":"Continue","Message":"\u003cp style=\"text-align: center;\"\u003eYour message was received successfully.\u003cbr /\u003eWe will get back to you ASAP!\u003c/p\u003e"}</ActionData>
    </ActionInfo>
  </Actions>
</ActionForm></content>
