<?xml version="1.0" encoding="utf-8" ?><content type="ActionForm" version="01.09.00"><ActionForm>
  <Description>A simple form with username and password fields which logs the user in.</Description>
  <Settings>
    <Version><![CDATA[3.0.0]]></Version>
    <Build><![CDATA[3.0.31.0]]></Build>
    <FrontEndTemplate><![CDATA[<div><span><a href="[FormUrl]">Incorrect sponsor? Click here to change.</a></span></div>]]></FrontEndTemplate>
    <HasCustomLayout><![CDATA[False]]></HasCustomLayout>
    <LayoutHtml><![CDATA[<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="clear: both;"></div>
<div style="clear: both;"></div>
<div style="margin: 0px 20px 0px 0px; text-align: center;">[Buttons:Submit] [Buttons:Cancel]</div>]]></LayoutHtml>
    <LabelAlign>top</LabelAlign>
    <LabelWidth>200</LabelWidth>
    <FieldSpacing>normal</FieldSpacing>
    <OpenFormMode><![CDATA[Always]]></OpenFormMode>
    <FormTemplate>bootstrap</FormTemplate>
    <FormTemplateFolder>/DesktopModules/AvatarSoft/ActionForm/templates/Form/bootstrap</FormTemplateFolder>
    <UploadUrl>/DesktopModules/AvatarSoft/ActionForm/UploadFile.ashx</UploadUrl>
    <ModuleId>3181</ModuleId>
    <IsDebug>False</IsDebug>
    <ClientSideValidation>True</ClientSideValidation>
    <InitJs><![CDATA[]]></InitJs>
    <PopupWidth>400</PopupWidth>
    <PopupHeight>300</PopupHeight>
    <jQueryTheme>sunny</jQueryTheme>
    <DateFormat>m/d/yy</DateFormat>
    <BaseId>dnn3181</BaseId>
    <AjaxSubmitUrl>/DesktopModules/AvatarSoft/ActionForm/Submit.ashx?TabId=2472&amp;ctl=ExportModule&amp;moduleid=3181&amp;language=en-US&amp;popUp=true&amp;portalid=0&amp;mid=3181</AjaxSubmitUrl>
    <PageUrl>http://localhost:60200/en-us/actionform4.aspx</PageUrl>
  </Settings>
  <Fields>
    <Field>
      <Id><![CDATA[1584]]></Id>
      <Title><![CDATA[Username]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Username]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-username</InputType>
      <InputData>{"Value":""}</InputData>
      <Value />
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 220px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>0</ViewOrder>
      <RowIndex>0</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1586]]></Id>
      <Title><![CDATA[Login]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Login]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>button</InputType>
      <InputData>{"CausesValidation":true,"ShowIn":{"ButtonsPane":true},"ButtonSize":"btn-normal","ButtonType":"btn-info","Actions":""}</InputData>
      <CausesValidation>True</CausesValidation>
      <IsInButtonsPane>True</IsInButtonsPane>
      <ButtonType>btn-info</ButtonType>
      <Actions />
      <IsRequired>False</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>9999</ViewOrder>
      <RowIndex>0</RowIndex>
      <ColSpan>9</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1585]]></Id>
      <Title><![CDATA[Password]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Password]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-password</InputType>
      <InputData>{"Value":""}</InputData>
      <Value />
      <Flag>password</Flag>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 220px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>12</ViewOrder>
      <RowIndex>1</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
  </Fields>
  <Actions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <ActionInfo>
      <Id>3609</Id>
      <ModuleId>3181</ModuleId>
      <Description />
      <FieldName>Login</FieldName>
      <EventName>click</EventName>
      <ActionType>UserLogin</ActionType>
      <OrderIndex>0</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2013-07-31T19:21:17.583</LastModified>
      <LastModifiedBy>1</LastModifiedBy>
      <Parameters />
      <ActionData>{}</ActionData>
    </ActionInfo>
  </Actions>
</ActionForm></content>
