<?xml version="1.0" encoding="utf-8" ?><content type="ActionForm" version="01.09.00"><ActionForm>
  <Description>Creates a basic form which collect Name, Email, User and Password, creates a new user account and sends a confirmation email.</Description>
  <Settings>
    <Version><![CDATA[3.0.0]]></Version>
    <Build><![CDATA[3.0.31.0]]></Build>
    <FrontEndTemplate><![CDATA[<div><span><a href="[FormUrl]" data-mce-href="[FormUrl]">Incorrect sponsor? Click here to change.</a></span></div>]]></FrontEndTemplate>
    <HasCustomLayout><![CDATA[False]]></HasCustomLayout>
    <LayoutHtml><![CDATA[<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="width: 40%; float: left; margin: 0px 20px 0px 0px;">[Fields:NewField]</div>
<div style="clear: both;"></div>
<div style="clear: both;"></div>
<div style="margin: 0px 20px 0px 0px; text-align: center;">[Buttons:Submit] [Buttons:Cancel]</div>]]></LayoutHtml>
    <LabelAlign>right</LabelAlign>
    <LabelWidth>120</LabelWidth>
    <FieldSpacing>normal</FieldSpacing>
    <OpenFormMode><![CDATA[Always]]></OpenFormMode>
    <FormTemplate>bootstrap</FormTemplate>
    <FormTemplateFolder>/DesktopModules/AvatarSoft/ActionForm/templates/Form/bootstrap</FormTemplateFolder>
    <UploadUrl>/DesktopModules/AvatarSoft/ActionForm/UploadFile.ashx</UploadUrl>
    <ModuleId>3184</ModuleId>
    <IsDebug>False</IsDebug>
    <ClientSideValidation>True</ClientSideValidation>
    <InitJs><![CDATA[<p><br data-mce-bogus="1"></p>]]></InitJs>
    <PopupWidth>400</PopupWidth>
    <PopupHeight>300</PopupHeight>
    <jQueryTheme>sunny</jQueryTheme>
    <DateFormat>m/d/yy</DateFormat>
    <BaseId>dnn3184</BaseId>
    <AjaxSubmitUrl>/DesktopModules/AvatarSoft/ActionForm/Submit.ashx?TabId=2472&amp;ctl=ExportModule&amp;moduleid=3184&amp;language=en-US&amp;popUp=true&amp;portalid=0&amp;mid=3184</AjaxSubmitUrl>
    <PageUrl>http://localhost:60200/en-us/actionform4.aspx</PageUrl>
  </Settings>
  <Fields>
    <Field>
      <Id><![CDATA[1604]]></Id>
      <Title><![CDATA[First Name]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[FirstName]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-text</InputType>
      <InputData>{"Value":"","Mask":""}</InputData>
      <Value />
      <Mask />
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>0</ViewOrder>
      <RowIndex>0</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1605]]></Id>
      <Title><![CDATA[Register]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Register]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>button</InputType>
      <InputData>{"CausesValidation":true,"ShowIn":{"ButtonsPane":true},"ButtonSize":"btn-normal","ButtonType":"btn-info","Actions":""}</InputData>
      <CausesValidation>True</CausesValidation>
      <ButtonSize>btn-normal</ButtonSize>
      <ButtonType>btn-info</ButtonType>
      <Actions />
      <IsRequired>False</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>9999</ViewOrder>
      <RowIndex>0</RowIndex>
      <ColSpan>9</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1606]]></Id>
      <Title><![CDATA[Last Name]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[LastName]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-text</InputType>
      <InputData>{"Value":"","Mask":""}</InputData>
      <Value />
      <Mask />
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>12</ViewOrder>
      <RowIndex>1</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1607]]></Id>
      <Title><![CDATA[Email]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Email]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-email</InputType>
      <InputData>{"Value":""}</InputData>
      <Value />
      <Flag>email</Flag>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1>Email Address</CustomValidator1>
      <CustomValidator1JsName>email3184</CustomValidator1JsName>
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>24</ViewOrder>
      <RowIndex>2</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1608]]></Id>
      <Title><![CDATA[Username]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Username]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-username</InputType>
      <InputData>{"Value":""}</InputData>
      <Value />
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>36</ViewOrder>
      <RowIndex>3</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
    <Field>
      <Id><![CDATA[1609]]></Id>
      <Title><![CDATA[Password]]></Title>
      <OverrideName><![CDATA[]]></OverrideName>
      <Name><![CDATA[Password]]></Name>
      <ShortDesc><![CDATA[]]></ShortDesc>
      <HelpText><![CDATA[]]></HelpText>
      <ShowCondition><![CDATA[]]></ShowCondition>
      <InputType>open-password</InputType>
      <InputData>{"Value":""}</InputData>
      <Value />
      <Flag>password</Flag>
      <Value><![CDATA[]]></Value>
      <IsRequired>True</IsRequired>
      <IsActive>True</IsActive>
      <IsEnabled>True</IsEnabled>
      <CssClass><![CDATA[]]></CssClass>
      <CssStyles><![CDATA[max-width: 240px;]]></CssStyles>
      <LabelCssClass><![CDATA[]]></LabelCssClass>
      <LabelCssStyles><![CDATA[]]></LabelCssStyles>
      <CustomValidator1 />
      <CustomValidator2 />
      <ValidationGroup />
      <GroupValidator />
      <SaveToUserProfile>False</SaveToUserProfile>
      <DisableAutocomplete>False</DisableAutocomplete>
      <ViewOrder>48</ViewOrder>
      <RowIndex>4</RowIndex>
      <ColSpan>12</ColSpan>
      <ColOffset>0</ColOffset>
    </Field>
  </Fields>
  <Actions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <ActionInfo>
      <ModuleId>3184</ModuleId>
      <Description />
      <FieldName>Register</FieldName>
      <EventName>click</EventName>
      <ActionType>UserRegistration</ActionType>
      <OrderIndex>0</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2013-08-01T03:17:20.043</LastModified>
      <LastModifiedBy>1</LastModifiedBy>
      <Parameters>
        <SendDnnMail>true</SendDnnMail>
      </Parameters>
      <ActionData>{"SendDnnMail":true}</ActionData>
    </ActionInfo>
    <ActionInfo>
      <ModuleId>3184</ModuleId>
      <Description />
      <FieldName>Register</FieldName>
      <EventName>click</EventName>
      <ActionType>UserLogin</ActionType>
      <OrderIndex>0</OrderIndex>
      <Condition />
      <IsDeleted>false</IsDeleted>
      <LastModified>2013-08-01T03:17:20.047</LastModified>
      <LastModifiedBy>1</LastModifiedBy>
      <Parameters />
      <ActionData>{}</ActionData>
    </ActionInfo>
  </Actions>
</ActionForm></content>
